<div class="main">
  <ng-container *ngIf="started">
    <app-clock [time]="overallClock$ | async | secondsToClock"></app-clock>
    <div class="pour-timer">
      <app-clock display="seconds" [ngClass]="{red: timeToPoor$ | async}" [time]="shownTimer$ | async | secondsToClock">
      </app-clock>
      <div class="actions">
        <button (click)="onReset()" mat-raised-button color="primary">Reset time</button>
        <button mat-raised-button color="warn" id="stopButton" (click)="onStop()">stop timer</button>
      </div>
    </div>
  </ng-container>
  <button mat-raised-button color="secondary" (click)="onStart()" *ngIf="!started" id="startButton">
    Start the timer !
  </button>
</div>